body {
  margin: 0 auto;
  padding: 0;
  background-color: rgba(240, 240, 240, 1);
  max-width: 2556px;
}

.container-fluid {
  padding: 0 .8rem 0 .8rem !important;
}

.mediaImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 2556px) {
  body{
    margin: 1em auto;
  }
}
