body {
  margin: 0;
  padding: 0;
  background-color: rgba(240, 240, 240, 1);
}

.fadein {
  -webkit-animation: fade-in .7s;
  animation: fade-in .7s;
}

.container-fluid {
  padding: 0 .8rem 0 .8rem !important;
}


.mediaImage {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
  height: 50vh;
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1%);
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1%);
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}